
.section__data {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 auto;
    max-width: 75%;
    margin: 10% 0 15% 2%;
}

.navigation {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 85%;
    margin-bottom: 10%;
}

.previous__page img {
    width: 25px;
    height: 25px;
}

.page {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.next__page img {
    width: 25px;
    height: 25px;
}

.navigation__page__next {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.navigation__page__prev {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}


